<div class="container">
    <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 col-sm-12">
        <div class="nes-container is-rounded text-center m-3" style="background-color: white">
            <h1>Watchlist</h1>
        </div>
        <div class="accordion nes-container is-rounded" id="watchlist-accordion" style="background-color: white">
            {{#each watchlists as |list|}}
            <div class="accordion-item">
                <h2 class="accordion-header" id="nothing">
                    <button class='accordion-button collapsed' type="button" data-bs-toggle="collapse"
                        data-bs-target="#{{list.watchlistIDNoSpace}}" aria-expanded="false"
                        aria-controls="{{list.watchlistIDNoSpace}}">
                        <div onclick="showDeleteOption('watch-{{list.watchlistIDNoSpace}}')">
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>
                        &nbsp;
                        {{list.watchlistID}}
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="{{list.watchlistIDNoSpace}}"
                    data-bs-parent="#watchlist-accordion" aria-labelledby="{{list.watchlistIDNoSpace}}">
                    <div class="stock accordion-body">
                        {{#each list.stockSymbols as |stock|}}
                        <div>
                            {{#if stock.isNotEmpty}}
                            <button class="invisible-button" onclick="deleteItem('{{stock.list}}','{{stock.stock}}')"><i
                                    class="fa-regular fa-trash-can delete-watchlist-item"></i>&nbsp;</button>
                            {{/if}}
                            <span>{{stock.stock}}</span>
                            <span class="justify-right">{{price}}</span>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="modal" id='watch-{{list.watchlistIDNoSpace}}' tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content ">
                        <div class="modal-body nes-container is-rounded nes-text is-error text-center">
                            <button class="nes-btn is-error" onclick="deleteList('{{list.watchlistID}}')">
                                Delete
                            </button>
                            Delete {{list.watchlistID}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" onclick="showCreateModal()">
                        +&nbsp;&nbsp;Create new Watchlist
                    </button>
                </h2>
            </div>
            <div class="modal" id='create-list' tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content ">
                        <div class="modal-body nes-container is-rounded nes-text is-error text-center">
                            <span>Create New Watchlist</span>
                            <input type="text" id="list-id" class="nes-input">
                            <button class="nes-btn is-success" onclick="createNewList()">
                                Create
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id='failed-list' tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content ">
                        <div class="modal-body nes-container is-rounded nes-text is-error text-center">
                            Failed to create list
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>